/**
 *
 *This program is free software: you can redistribute it and/or modify
 *it under the terms of the GNU General Public License as published by
 *the Free Software Foundation, either version 3 of the License, or
 *(at your option) any later version.
 *
 *This program is distributed in the hope that it will be useful,
 *but WITHOUT ANY WARRANTY; without even the implied warranty of
 *MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *GNU General Public License for more details.
 *
 *You should have received a copy of the GNU General Public License
 *along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
 
/**
 * @category	CSS
 * @package		src.sdk.opajs.css
 */

/** DEFAULT TAGS **/ 

lnk {
	cursor: pointer;
}

.lnk {
	cursor: pointer;
}

/** xx-* */
.xx-hide {
	opacity:	0;
}

.xx-show {
	opacity:	1;
}

.xx-none {
	display	: none;
}

.xx-block {
	display	: block;
}

.xx-inline {
	display	: inline;
}

.xx-inline-block {
	display	: inline-block;
}
 
.debug {
	border	: 1px solid red;
}

.bdebug {
	border	: 1px solid blue;
}

.gdebug {
	border	: 1px solid green;
}

.odebug {
	border	: 1px solid orange;
}

.xx-left {
	position: relative;
	float	: left;
}

.xx-right {
	position: relative;
	float	: right;
}

.xx-content{
	margin	: 0 auto;
	width	: 940px;
}

.xx-content-1200 {
	margin	: 5 auto;
	width	: 1200px;
}

.xx-white-box {
	background	: white;
}
